// =============================
// Button Component Styling
// =============================

//
// The Button Component provides no styling which is reusable to all modifiers currently at this level.
// Note - It is recommended you don't use this component direct and just extend upon.
//

.button,
%button {
  text-decoration: none;

  //
  // The Button Brand Alpha Modifier provides uses the main button element styling provided in the brands
  // styleguide.
  //
  // Example Use - Homepage Hero Element.
  //

  // .button--brand-alpha

  &--brand-alpha {
    @extend %button !optional;
    background: blue;
    color: white;
    border-radius: 10px;
  }

  // .button--pill

  &--pill {
    @extend %button !optional;
    border-radius: 50%;
  }

  // .button--disabled

  &--disabled,
  &[aria-disabled="true"] {
    opacity: .5;
    cursor: not-allowed;
  }

}
