// =============================
// Cosmetic Default Variables
// =============================

$color-brand-alpha   : #0073C5 !default; // Brand Electric Blue

$color-brand-atlantic: #003663 !default; // Sky Atlantic Brand
$color-brand-arts    : #734993 !default; // Sky Arts Brand


$button-background: $color-brand-alpha; // Aliasing For Memorability Purposes.
