// =============================
// Client/Polar-Lite Button Component Styling
// =============================

//
// The Button Component removes text decoration for all modifiers to extend upon.
// Note - It is recommended you don't use this component direct and just extend upon.
//

.button,
%button {
  text-decoration: none;

  // .button--bordered

  //
  // The Button Component Bordered Modifier provides a minimally styled button with
  // a slight border around the element using the brands main blue color.
  // Example Use - Article Page Related Articles CTA.
  //

  &--bordered {
    @extend %button !optional;
    border: 1px solid #0073C4;
    color: #0073C4;
    border-radius: 5px;
  }

}
