// =============================
// Client/Polar-Lite Polar Tile Component Styling
// =============================

//
// The Polar Tile Component contains a minimal aesthetic feel with only a vast box-shadow
// visible.
// Note - It is recommended you don't use this component direct and just extend upon.
//

.polar-tile,
%polar-tile {
  box-shadow: 1px 1px 15px rgba(0,0,0,.2);

  //
  // The Polar-Tile Alpha Modifier extends upon the base component and contains minimal cosmetic styling.
  // Note - A Overlay is available but optional.
  // Example Use - Trial Homepage Tile Elements.
  //

  // .polar-tile--alpha
  &--alpha {
    @extend %polar-tile;
    background-color: #FFF;

    &:hover {

      [class*="polar-tile__overlay"] {
        opacity: 1;
      }

    }

    //
    // For both @lap & @palm, state is changed by default with not full opacity set.
    // to allow for visibility of the supporting image of the tile.
    //

    @include media-query($from: nth(map-get($viewport-values, '@palm'), 1),
                        $to:   nth(map-get($viewport-values, '@lap'),  2)) {
      [class*="polar-tile__overlay"] {
        opacity: .9;
      }
    }

    //
    // Polar-Tile--Alpha__Content provides a bounding box with a minimal grey to white
    // radial gradient.
    //

    // .polar-tile--alpha__content
    &__content {
      background-color: #FFF;
      background-image: radial-gradient(#FFF,#E1E0E4);
    }

    //
    // A wildcard selector is used as no matter what the position/sizing of the overlay,
    // the cosmetic should persist.
    //

    [class*="polar-tile__overlay"] {
      background-color: #005392;
      background-image: radial-gradient(#0D77BD,#005392);

      //
      // Due to the overlay gradient, all items are set to white.
      //

      * {
        color: #FFF !important;
      }

    }

    // .polar-tile--alpha__overlay-list-item
    &__overlay-list-item {
      margin-bottom: .8em !important; // @TODO - Remove !important once old styles have been removed.
      line-height: 1.8em;
    }

  }

}
