// =============================
// Origin Text Truncation Utility Helper Class
// =============================

//
// Prevent text from wrapping onto multiple lines, and truncate with an ellipsis.
//
// 1. Ensure that the node has a maximum width after which truncation can occur.
// 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor nodes.
//

.u-text-truncate,
%u-text-truncate {
    max-width: 100%;                    // 1
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important;       // 2
}
